.CurrentWeather {
    background: linear-gradient(45deg, lightblue 60%, transparent);
    color: #fff;
    text-shadow: 2px 2px 5px #4a4a4f;
    padding: 20px;
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ccc;
}

.CurrentWeather>* {
    margin: 0;
}

.MyWeatherText {
    color: #fff;
    text-shadow: 2px 2px 5px #4a4a4f; 
}